<!---->
<div class="modal modal-cocktail-window " data-modal="1">
    <button type="button" class="modal-btn-close js-modal-close" data-modal-close>
        <svg class="modal-btn-close-icon">
          <use href="/img/svg/sprite.svg#icon-close"></use>
        </svg>
      </button>
    
      <div class="modal-cocktail-content">
        <!----
       <div class="add-cont">
       <img class="modal-cocktail-img" src="https://res.cloudinary.com/dy7bjyqln/image/upload/v1695418892/drinkify/recipes/ACID.jpg" alt="" />
       <div class="add-content">
       <h1 class="modal-cocktail-title">Acid</h1>
       <h2 class="modal-cocktail-subtitle">INGREDIENTS:</h2>
       <p class="modal-cocktail-text">Per cocktail</p>
       <div class="modal-cocktail-ingred">${renderIngredients (data.ingredients)}</div>
    </div>
    </div>
       <h2 class="modal-cocktail-subtitle add-subtitle">INSTRUCTIONS:</h2>
       <p class="modal-cocktail-text ">${renderIngredients(data.ingredients)}</p>
       <button type="button" class="modal-btn-fav">ADD TO FAVORITE</button>
       <button type="button" class="modal-btn-back">BACK</button>
    ---->
     </div>
  </div>
<div class="overlay js-overlay-modal"></div>

<!-------Временная кнопка открытия модального окна---------->

<button type="buttom" class="btn-open-modal js-modal-open"
data-modal="1">Open modal-cocktail</button>