<section class="section">
  <div class="container">
    <h1 class="section-header">Favorite ingredients</h1>
    <div class="fav-ingredients-container">
      <div class="no-fav-ingredients-placeholder">
        <img
          class="cocktail-photo-placeholder"
          srcset="
            /img/mobile/coctail.webp 1x,
            /img/mobile/coctail@2x.webp 2x
          "
          src="/img/mobile/coctail.webp"
          alt=""
          width=""
          height=""
        />
        <p class="no-fav-ingredients-text">
          You haven't added any
          <span class="no-fav-ingredients-text-accent"></span>
            favorite ingredients </span
          >yet
        </p>
      </div>
    </div>
  </div>
</section>
