<section class="favorite-coctails">
  <!-- розмір контейнера вже заданий в /container.css для всіх пристроїв -->
  <div class="container">
    <h1 class="fav-title-coctails">Favorite cocktails</h1>

    <div class="not-found">
      <!-- <picture class=""> -->
      <!-- DESKTOP -->
      <!-- <source
          srcset="/img/tablet/coctail.webp 1x, /img/tablet/coctail@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1280px)" -->
      <!-- /> -->
      <!-- TABLET -->
      <!-- <source
          srcset="/img/tablet/coctail.webp 1x, /img/tablet/coctail@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)" -->
      <!-- /> -->
      <!-- MOBILE -->
      <!-- <source
          srcset="/img/mobile/coctail.webp 1x, /img/mobile/coctail@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <img
          class="no-fav-cocktail-img"
          src="/img/tablet/coctail.webp"
          alt="cocktail"
        />
      </picture>
      <p class="no-fav-cocktail-text">
        You haven't added any
        <span class="no-fav-cocktail-color">favorite cocktails</span> yet
      </p> -->
    </div>

    <ul class="fav-cocktail-list"></ul>
  </div>
</section>
