<section class="hero-section">
  <!-- розмір контейнера вже заданий в /container.css для всіх пристроїв -->

  <div class="container hero-content">
    <div class="hero-text-wrapper">
      <h1 class="hero-title">
        A party without <span class="title-fragment-italic">cocktails</span><br />
        is not like a party
      </h1>
      <p class="hero-title-motto">
        From classic sips to exotic mixes, we're your key to becoming a cocktail
        wizard!
      </p>
      <!-- <div class="hero-button-container">
        <button href="#favorite-coctails" type="button" class="hero-button">
          VIEW COCKTAILS
        </button>
      </div> -->
      <div class="hero-button-container">
        <a class="hero-button" type="button" href="#cocktails">VIEW COCKTAILS
        </a>
      </div>
    </div>
    <div class="hero-image-elements-wrapper"></div>
  </div>
</section>