<section class="hero-section">
  <!-- розмір контейнера вже заданий в /container.css для всіх пристроїв -->

  <div class="container hero-content">
    <!-- <div class="hero-content"> -->
    <div class="hero-text-wrapper">
      <h1 class="hero-title">
        A party without <span class="title-fragment-italic">cocktails</span
        ><br />
        is not like a party
      </h1>
      <p class="hero-title-motto">
        From classic sips to exotic mixes, we're your key to becoming a cocktail
        wizard!
      </p>
      <div class="hero-button-container">
        <button href="#favorite-coctails" type="button" class="hero-button">
          VIEW COCKTAILS
        </button>
      </div>
    </div>
    <!-- <div class="hero-image-general-div"> -->
    <div class="hero-image-elements-wrapper">
      <div class="background-decoration-recktangle">
        <picture class="picture-hero">
          <source
            srcset="/img/desktop/girl.webp 1x, /img/desktop/girl@2x.webp 2x"
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/tablet/girl.webp 1x, /img/tablet/girl@2x.webp 2x"
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/mobile/girl.webp 1x, /img/mobile/girl@2x.webp 2x"
            type="image/webp"
            media="(max-width: 767px)"
          />

          <img
            class="hero-img"
            src="img/desctop/girl.webp"
            alt="girl_with_a_cocktail"
            width="410"
            height="565"
          />
        </picture>
      </div>

      <p class="hero-img-description">Search your favorite cocktail by ABC</p>
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </div>
</section>
