<div class="ingredient-modal">
  <button class="ingredient-close-btn" type="button">
    <svg class="ingredient-close-btn-icon dark-mode">
      <use href="/img/svg/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <div class="ingredient-content"></div>

  <div class="ingredient-modal-btns">
    <button class="favorite-btn" type="button">add to favorite</button>
    <button class="favorite-btn visually-hidden" type="button">remove from favorite</button>
    <button class="back-btn" type="button">Back</button>
  </div>
</div>

<!-- <div class="ingredient-modal">
  <button class="ingredient-close-btn" type="button">
    <svg class="ingredient-close-btn-icon">
      <use href="/img/svg/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <h3 class="ingredient-modal-name">Campari</h3>
  <h3 class="ingredient-modal-type">Liqueur</h3>

  <p class="ingredient-modal-descr">
    <span class="modal-span">Campari</span> is an Italian
    alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or
    28.5% ABV, depending on the country in which it is sold), obtained from
    the infusion of herbs and fruit (including chinotto and cascarilla) in
    alcohol and water. It is a bitters, characterised by its dark red
    colour.
  </p>

  <ul class="ingredient-modal-list">
    <li class="ingredient-modal-list-item">Type: Bitters</li>
    <li class="ingredient-modal-list-item">Country of origin: Italy</li>
    <li class="ingredient-modal-list-item">
      Alcohol by volume: 20.5 - 28.5 %
    </li>
    <li class="ingredient-modal-list-item">
      Flavour : Bitter, spicy and sweet
    </li>
  </ul>

  <div class="ingredient-modal-btns">
    <button class="favorite-btn" type="button">add to favorite</button>
    <button class="back-btn" type="button">Back</button>
  </div>
</div> -->
