<section>
  <div class="container">
    <div class="ingredient-modal ingredient-modal-dark">
      <button class="ingredient-close-btn" type="button">
        <svg class="ingredient-close-btn-icon ingredient-close-btn-icon-dark">
          <use href="/img/svg/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <h3 class="ingredient-modal-name ingredient-modal-name-dark">Campari</h3>
      <h3 class="ingredient-modal-type ingredient-modal-type-dark">Liqueur</h3>

      <p class="ingredient-modal-descr ingredient-modal-descr-dark">
        <span class="modal-span modal-span-dark">Campari</span> is an Italian
        alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or
        28.5% ABV, depending on the country in which it is sold), obtained from
        the infusion of herbs and fruit (including chinotto and cascarilla) in
        alcohol and water. It is a bitters, characterised by its dark red
        colour.
      </p>

      <ul class="ingredient-modal-list ingredient-modal-list-dark">
        <li class="ingredient-modal-list-item">Type: Bitters</li>
        <li class="ingredient-modal-list-item">Country of origin: Italy</li>
        <li class="ingredient-modal-list-item">
          Alcohol by volume: 20.5 - 28.5 %
        </li>
        <li class="ingredient-modal-list-item">
          Flavour : Bitter, spicy and sweet
        </li>
      </ul>

      <div class="ingredient-modal-btns">
        <button class="favorite-btn" type="button">add to favorite</button>
        <button class="back-btn back-btn-dark" type="button">Back</button>
      </div>
    </div>
  </div>
</section>
