<section class="pagination">
    <!-- розмір контейнера вже заданий в /container.css для всіх пристроїв -->
    <div class="container">
        <div class="pagin-container">
            <!-- <a href="#" class="page-btn prev-dots">p ...</a> -->
            <a href="#" class="page-btn prev-btn">pr</a>
            <div class="pages"></div>
            <a href="#" class="page-btn next-btn">nx</a>
            <!-- <a href="#" class="page-btn to-down">ілтлвт</a> -->
        </div>
        
    </div>


    <!-- <div class="container">
        <div id="tui-pagination-container" class="tui-pagination"><div class="aditional-btn"></div></div>
    </div> -->
    
</section>



