<section class="search-section">
    <!-- розмір контейнера вже заданий в /container.css для всіх пристроїв -->
    <div class="container">
                <div class="search-one">
                    <form class="form-mobile">
                        <select class="search-select js-hero-mobile"></select>
                    </form>  
                </div>
        <div class="search-two">
            <ul class="search-menu">
                <li class="search-menu-item">A</li>
                <li class="search-menu-item">B</li>
                <li class="search-menu-item">C</li>
                <li class="search-menu-item">D</li>
                <li class="search-menu-item">E</li>
                <li class="search-menu-item">F</li>
                <li class="search-menu-item">G</li>
                <li class="search-menu-item">H</li>
                <li class="search-menu-item">I</li>
                <li class="search-menu-item">J</li>
                <li class="search-menu-item">K</li>
                <li class="search-menu-item">L</li>
                <li class="search-menu-item">M</li>
                <li class="search-menu-item">N</li>
                <li class="search-menu-item">O</li>
                <li class="search-menu-item">P</li>
                <li class="search-menu-item">Q</li>
                <li class="search-menu-item">R</li>
                <li class="search-menu-item">S</li>
                <li class="search-menu-item">T</li>
                <li class="search-menu-item">U</li>
                <li class="search-menu-item">V</li>
                <li class="search-menu-item">W</li>
                <li class="search-menu-item">X</li>
                <li class="search-menu-item">Y</li>
                <li class="search-menu-item">Z</li>
                <li class="search-menu-item">1</li>
                <li class="search-menu-item">2</li>
                <li class="search-menu-item">3</li>
                <li class="search-menu-item">4</li>
                <li class="search-menu-item">5</li>
                <li class="search-menu-item">6</li>
                <li class="search-menu-item">7</li>
                <li class="search-menu-item">8</li>
                <li class="search-menu-item">9</li>
                <li class="search-menu-item">0</li>
            </ul>
        </div>
       
        
        <div class="search-tree">
            <input class="search-input" type="text" placeholder="Search">
            <svg class="search-icon" aria-label="icon search" width="16" height="16">
                <use href="./img/svg/sprite.svg#icon-search"></use>
            </svg>
        </div>
    </div>
</section>