<section class="search-section">
    <!-- розмір контейнера вже заданий в /container.css для всіх пристроїв -->
<div class="container">
    <div class="search-one">
        <div class="form-mobile">
            <select class="search-select js-search-mobile"></select>
            <svg class="search-icon-down" width="18" heigth="18">
                <use href="./img/svg/sprite.svg#icon-arrow-down"></use>
            </svg>
        </div>
    </div>
    <div class="search-two">
        <ul class="search-menu js-search-menu"></ul>
    </div>
    <div class="search-tree">
        <input class="search-input" type="text" placeholder="Search">
        <svg class="search-icon" aria-label="icon search" width="16" height="16">
            <use href="./img/svg/sprite.svg#icon-search"></use>
        </svg>
    </div>
 
</div>
    </div>
</section>