body {
  background-image: url('../img/body-background/bg-light-mobile.webp');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}
body.dark {
  background-image: url('../img/body-background/bg-dark-mobile.webp');
  transition: background-image 1s ease-in-out;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('../img/body-background/bg-light-tablet.webp');
  }
  body.dark {
    background-image: url('../img/body-background/bg-dark-tablet.webp');
  }
}
@media screen and (min-width: 1280px) {
  body {
    background-image: url('../img/body-background/bg-light-desktop.webp');
  }
  body.dark {
    background-image: url('../img/body-background/bg-dark-desktop.webp');
  }
}
