/* =================Стилі Мобільні======================== */

/* стиля для блоку notFoundBlock */
.favorite-coctails {
  padding-top: 80px;
  padding-bottom: 138px;
}
.fav-title-coctails {
  margin-bottom: 40px;
  color: var(--black-color);
  font-family: Poppins;

  font-style: normal;
  font-weight: 500;
}

.no-fav-cocktail-img {
  margin-left: auto;
  margin-right: auto;
}

.no-fav-cocktail-text {
  margin-top: 20px;
  text-align: center;
  color: var(--black-color);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.no-fav-cocktail-color {
  color: var(--turquoise-color);
  font-style: italic;
}

.not-found {
  width: 244px;
  margin-left: auto;
  margin-right: auto;
}
/* стиля для блоку fav-cocktail*/
.cocktail-list-favorite {
  display: flex;
  flex-direction: column;
  /* width: 335px;
  height: 471px; */
  width: 100%;
  height: 100%;
  max-width: 335px;
  max-height: 471px;
  border-radius: 20px;
  background-color: var(--light-gray-color);
  box-shadow: 0 4px 46px #0000000d;
  margin-bottom: 20px;
}

.cocktail-item-img-favorite {
  border-radius: 16px;
  width: 307px;
  height: 257px;

  object-fit: cover;
  margin-top: 14px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.trk {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.cocktail-name-favorite {
  color: #242424;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 14px;
}

.description-container-favorite {
  /* width: 295px;
  height: 54px; */
  width: 100%;
  height: 100%;
  max-width: 295px;
  max-height: 54px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  overflow-y: hidden;
  text-overflow: ellipsis;
  color: var(--color-black);
  margin-bottom: 20px;
}

.button-wrap-favorite {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.learn-more-favorite {
  width: 232px;
  border-radius: 12px;
  border-color: var(--violet-color);
  background-color: transparent;

  color: #242424;
  font-size: 14px;
  font-weight: 600;
}

.remove-favorite {
  padding: 0;
  background-color: var(--violet-color);
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-icon-favorite-trash {
  stroke: white;
  fill: transparent;
}
/* =====================Стилі Планшет======================== */

/* стиля для блоку notFoundBlock */
@media screen and (min-width: 768px) {
  .favorite-coctails {
    padding-top: 110px;
    padding-bottom: 140px;
  }

  .fav-title-coctails {
    margin-bottom: 100px;
    font-size: 40px;
    line-height: 48px;
  }
  .no-fav-cocktail-text {
    margin-top: 40px;
    font-size: 24px;
    line-height: 28px;
  }

  .not-found {
    width: 372px;
  }

  /* стиля для блоку fav-cocktail*/
  .fav-title-coctails {
    margin-bottom: 32px;
  }

  .cocktail-list-favorite {
    width: 345px;
    height: 523px;
    border-radius: 20px;
    background-color: var(--light-gray-color);
    box-shadow: 0 4px 46px #0000000d;
    margin-bottom: 20px;
  }
  .cocktail-item-img-favorite {
    border-radius: 16px;
    width: 316px;
    height: 289px;

    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* =====================Стилі Десктопні======================== */

/* стиля для блоку notFoundBlock */

/* .cocktail-list-favorite {
  width: 344px;
}

.remove-favorite {
  padding: 0;
  background-color: var(--violet-color);
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrap-favorite {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.learn-more-favorite {
  padding: 16px 55px;
  border-radius: 12px;
  border-color: var(--violet-color);
  background-color: transparent;
  width: 225px;

  color: #242424;
  font-size: 14px;
  font-weight: 600;
}

.fav-cocktail-list {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  display: flex;
  row-gap: 44px;
  column-gap: 24px;
}

.description-container-favorite {
  height: 54px;
  overflow: hidden;
  position: relative;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
} */
/* .cocktail-item-img-favorite {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  border-radius: 16px;
  width: 307px;
  height: 257px;
} */

/* .trk {
  padding: 24px;
}
.cocktail-name-favorite {
  color: #242424;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
} */
