/* Стилі хедеру */

.header-container {
  display: flex;
  padding-top: 27px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-left-elements {
  display: flex;
  gap: 4px;
}
.header-desktop {
  padding-top: 34px;
}
.header-home-link {
  color: var(--black-color);
}
body.dark .header-home-link {
  color: var(--light-gray-color);
}
.header-logo-link {
  color: var(--black-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.13;
}
body.dark .header-logo-link {
  color: var(--light-gray-color);
}
.header-logo-icon {
  fill: var(--violet-color);
  width: 21px;
  height: 18px;
  display: inline-block;
  vertical-align: text-top;
}
.mobile-menu-open-btn {
  border: none;
  background-color: transparent;
}
.burger-icon {
  stroke: var(--black-color);
  width: 32px;
  height: 32px;
}
body.dark .burger-icon {
  stroke: var(--light-gray-color);
}

/* Мобільне меню */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--violet-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-logo-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.13;
  color: var(--light-gray-color);
}
.mobile-menu-logo-icon {
  width: 21px;
  height: 18px;
  fill: var(--turquoise-color);
}
.mobile-menu-close-btn {
  border: none;
  background-color: transparent;
}
.mobile-menu-close-icon {
  stroke: var(--light-gray-color);
  width: 32px;
  height: 32px;
}
.mobile-menu-top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.mobile-menu-elements {
  display: flex;
  gap: 4px;
  align-items: center;
}
.mobile-buttons {
  display: flex;
  align-items: center;
  gap: 18px;
}
.mobile-menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 180px;
}
.mobile-menu-home-link {
  font-size: 18px;
  line-height: 1.33;
  color: var(--light-gray-color);
}
.mobile-dropbtn {
  background-color: transparent;
  color: var(--light-gray-color);
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 28px;
  font-size: 18px;
  line-height: 1.33;
}
.mobile-menu-arrow-icon {
  fill: transparent;
  stroke: var(--light-gray-color);
  width: 24px;
  height: 24px;
}
/* The container <div> - needed to position the dropdown content */
.mobile-dropdown {
  position: relative;
  display: inline-block;
}
.mobile-dropbtn {
  padding-bottom: 18px;
}

/* Dropdown Content (Hidden by Default) */
.mobile-dropdown-content {
  display: none;
  position: absolute;
  min-width: 192px;
  z-index: 1;
  font-size: 14px;
}

/* Links inside the dropdown */
.mobile-dropdown-content a {
  color: var(--light-gray-color);
  opacity: 50%;
  padding-top: 8px;
  padding-left: 24px;
  text-decoration: none;
  display: block;
}

.mobile-dropdown-favorite-ingredients-link {
  color: var(--light-gray-color);
  opacity: 50%;
}

/* Show the dropdown menu on hover */
.mobile-dropdown:hover .mobile-dropdown-content {
  display: block;
}

/* Перемикач тем мобільний*/

.mobile-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

.mobile-switch input {
  display: none;
}

.mobile-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--violet-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1.5px solid var(--light-gray-color);
}

.mobile-slider:before {
  position: absolute;
  content: '';
  height: 23px;
  width: 23px;
  left: 1px;
  bottom: 1px;
  background-color: var(--turquoise-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .mobile-slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

.mobile-slider.mobile-round {
  border-radius: 34px;
}

.mobile-slider.mobile-round:before {
  border-radius: 100px;
}

/* Перемикач тем */

.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 36px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--pale-blue-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2px solid var(--black-color);
}

.slider:before {
  position: absolute;
  content: '';
  height: 28px;
  width: 28px;
  left: 2px;
  bottom: 2px;
  background-color: var(--turquoise-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--turquoise-color);
  border: 2px solid var(--violet-color);
}
input:checked + .slider::before {
  background-color: var(--pale-blue-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 100px;
}

/* Випливаюче меню */
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: var(--black-color);
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 28px;
}
body.dark .dropbtn {
  color: var(--light-gray-color);
}
.header-arrow-icon {
  fill: transparent;
  stroke: var(--violet-color);
  width: 24px;
  height: 24px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--violet-color);
  min-width: 192px;
  z-index: 1;
  border-radius: 16px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--light-gray-color);
  opacity: 50%;
  padding-top: 18px;
  padding-left: 24px;
  text-decoration: none;
  display: block;
}

.dropdown-favorite-ingredients-link {
  padding-bottom: 18px;
}
.dropdown-favorite-ingredients-link:hover,
.dropdown-favorite-ingredients-link:focus,
.dropdown-favorite-cocktails-link:hover,
.dropdown-favorite-cocktails-link:focus {
  color: var(--light-gray-color);
  opacity: 100%;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Адаптивні стилі */

@media screen and (max-width: 767px) {
  .tablet-menu-img {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .header-desktop {
    display: none;
  }
  .bg-switcher {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 29px;
  }
  .header-left-elements {
    gap: 8px;
  }
  .header-logo-link {
    font-size: 22px;
    line-height: 1.09;
  }
  .header-logo-icon {
    width: 29px;
    height: 25px;
  }
  .burger-icon {
    width: 40px;
    height: 40px;
  }

  /* Мобільне меню */

  .mobile-buttons {
    gap: 24px;
  }
  .mobile-menu-logo-text {
    font-size: 22px;
    line-height: 1.09;
  }
  .mobile-menu-logo-icon {
    width: 29px;
    height: 25px;
  }
  .mobile-menu-close-icon {
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
  }
  .mobile-menu-top {
    padding-top: 24px;
  }
  .mobile-menu-elements {
    gap: 8px;
  }
  .mobile-menu-links {
    margin-top: 251px;
  }
  .mobile-menu-home-link {
    font-size: 24px;
  }
  .mobile-dropbtn {
    font-size: 24px;
  }

  /* Перемикач тем мобільний*/

  .mobile-switch {
    width: 64px;
    height: 36px;
  }

  .mobile-switch input {
    display: none;
  }

  .mobile-slider {
    border: 2px solid var(--light-gray-color);
  }

  .mobile-slider:before {
    height: 28px;
    width: 28px;
    left: 2px;
    bottom: 2px;
  }

  input:checked + .mobile-slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }
  .tablet-menu-img {
    opacity: 20%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .header-right-elements {
    display: none;
  }
  .header-left-elements {
    position: absolute;
    left: 45%;
  }
  .header-container {
    padding-top: 0;
  }
  .header-left-elements {
    padding-top: 29px;
  }
  .bg-switcher {
    padding-top: 28px;
  }
}
