/* зважайте будь ласка на те щоб не дублювати назви класів */

/*-----------MOBILE-------------*/
.hero-section {
    padding-top: 70px;
    overflow: hidden;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin-bottom: 40px;
}

/*--стилі для контейнеру з текстом--*/
.hero-text-wrapper{
    margin-bottom: 26px;
}

/*--стилі для заголовк--*/
.hero-title{
    max-width: 335px;  
    color: var(--black-color);
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 18px;
}
/*--стилі для фрагменту заголовка курсивом--*/

.title-fragment-italic{
    color: var(--violet-color);
    font-style: italic;
}
/*--стилі для підзаголовка--*/

.hero-title-motto{
    max-width: 335px;
    margin-top: 18px;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--black-color);

}
/*--стилі для кнопки--*/

.hero-button {
    border: none;
    padding: 14px 28px;
    border-radius: 12px;
    background-color: var(--violet-color);
    color: var(--light-gray-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 2%;
    text-transform: uppercase;
    transition: background-color var(--transition-dur-and-time-func);
}

.hero-button:hover,
.hero-button:focus {
    background-color:#6E7FCF;
}

/*--стилі для блоку з зображенням і описом до зображення--*/

/*--стилі для зовнішнього контейнера, який огортає зображення--*/


.hero-image-elements-wrapper {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 342px;
    gap: 40px;
    background-image: image-set(
    '/img/mobile/elements.webp' type('image/webp'),
    '/img/mobile/elements@2x.webp' type('image/webp'));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

/*--описуємо медіа-правило для фонового зображення для HERO-mobile--*/

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2ppx) and (max-width: 767px) {
    .hero-image-elements-wrapper{
    background-image:   image-set('/img/mobile/elements.webp' type('image/webp'),
                '/img/mobile/elements@2x.webp' type('image/webp')
                );
    }
}

/*--стилі для внутрішнього контейнера,який є бузковим фоном зображення--*/
.background-decoration-recktangle {
    z-index: 1;
    border-radius: 80px 0px;
    background: #7E8FDD;
    box-shadow: 0px 28px 75px 0px rgba(88, 109, 204, 0.5);
    width: 230px;
    height: 338px;
    position: relative;
    overflow: visible;
}

/*--стилі для зображення--*/
.picture-hero {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 354px;
    height: 387px;
}

/*--стилі для тексту під зображенням--*/
.hero-img-description{
    color: #242424;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
        /* 142.857% */
    letter-spacing: 0.28px;
    text-transform: uppercase;
    max-width: 173px;
}
/*-------------------------TABLET-------------------------*/

@media screen and (min-width: 768px) {
    .hero-content {
        flex-direction: row;
        justify-content: center;
        gap: 0px;
        margin-bottom: 100px;
        
    }

    .hero-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .hero-title {
        max-width: 384px;
        font-size: 44px;
        line-height: 1.1;
        margin-bottom: 18px;
        color: var(--black-color);
    }
         
    .hero-title-motto {
        max-width: 338px;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 48px;
        color: var(--black-color);
    } 
    .hero-button {
        padding: 22px 44px;
        font-size: 18px;
        line-height: 1.3;
    }

    /*--стилі для зовнішнього контейнера, 
    який огортає контентне зображення HERO-tablet--*/

 .hero-image-elements-wrapper {
        max-width: 427px;
        padding-top: 78px;
        margin-left: -60px;
        margin-right: -70px;
        gap: 50px;
        background-image:
        image-set('/img/tablet/elements.webp' type('image/webp'),
        '/img/tablet/elements@2x.webp' type('image/webp'));
    }
  
    /*--описуємо медіа-правило для фонового зображення для HERO-tablet--*/
 @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2ppx) and (min-width: 768px) {
        .hero-image-elements-wrapper {
        background-image: image-set('/img/tablet/elements.webp' type('image/webp'),
        '/img/tablet/elements@2x.webp' type('image/webp'));
        }
    }

    .background-decoration-recktangle {
        width: 293px;
         height: 417px;
    }

    .picture-hero {
        width: 333px;
        height: 451px;
        transform: translateX(-56%)
    }

}

/*--------------------DESKTOP--------------------*/

/*--стилі для зовнішнього контейнера, 
який огортає зображення HERO-desctop--*/

@media screen and (min-width: 1280px) {

    .hero-section {
        padding-top: 0px;
        }
    
    .hero-content {
        /* gap: 56px; */
        justify-content: space-between;
    }
    
    .hero-title-motto{
        max-width: 480px;
        font-size: 20px;
        line-height: 1.3;
        
    }
     .hero-title {
        max-width: 555px;
        font-size: 64px;
        line-height: 1.1;
        margin-bottom: 28px;
        }

    .hero-image-elements-wrapper {
        max-width: 552px;
        height: 672px;
        margin-left: 0px;
         margin-right: -80px;
        background-image:
            image-set('/img/desktop/elements.webp' type('image/webp'),
                '/img/desktop/elements@2x.webp' type('image/webp'));
       

    }


/*--описуємо медіа-правило для фонового зображення для HERO-desctop--*/

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2ppx) and (min-width: 1280px) {
        .hero-image-elements-wrapper {
            background-image: image-set('/img/desktop/elements.webp' type('image/webp'),
                    '/img/desktop/elements@2x.webp' type('image/webp'));
        }
    }

     .background-decoration-recktangle {
        width: 380px;
        height: 476px;
    }

    .picture-hero {
        width: 410px;
        height: 565px;
        transform: translateX(-54%)
    }
}

/*-----MOBILE___DARK_THEME---------*/
body.dark .hero-title{
    color: var(--light-gray-color);
}
body.dark .hero-title-motto{
    color: var(--light-gray-color);
}
body.dark .hero-button{
    color: var(--light-gray-color);
}
body.dark .hero-img-description{
    color: var(--light-gray-color);
}

body.dark .hero-image-elements-wrapper{
background-image: linear-gradient(rgba(253, 253, 255,0), rgba(253, 253, 255, 0.3)),image-set('/img/mobile/elements.webp' type('image/webp'),
'/img/mobile/elements@2x.webp' type('image/webp')); 

/*--описуємо медіа-правило для фонового зображення для HERO-mobile--*/

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2ppx) and (max-width: 767px) {
        .hero-image-elements-wrapper {
            background-image: linear-gradient(rgba(253, 253, 255, 0), rgba(253, 253, 255, 0.3)) ,image-set('/img/mobile/elements.webp' type('image/webp'),
                    '/img/mobile/elements@2x.webp' type('image/webp'));
        }
    }
}

/*-----TABLET___DARK_THEME---------*/
body.dark .hero-image-elements-wrapper {
    background-image: linear-gradient(rgba(253, 253, 255, 0), rgba(253, 253, 255, 0.3)), image-set('/img/tablet/elements.webp' type('image/webp'),
            '/img/tablet/elements@2x.webp' type('image/webp'));

    /*--описуємо медіа-правило для фонового зображення для HERO-mobile--*/

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2ppx) and (min-width: 768px) {
        .hero-image-elements-wrapper {
            background-image: linear-gradient(rgba(253, 253, 255, 0), rgba(253, 253, 255, 0.3)), image-set('/img/tablet/elements.webp' type('image/webp'),
                    '/img/tablet/elements@2x.webp' type('image/webp'));
        }
    }
}

/*-----DESKTOP___DARK_THEME---------*/
body.dark .hero-image-elements-wrapper {
    background-image: linear-gradient(rgba(253, 253, 255, 0), rgba(253, 253, 255, 0.3)), image-set('/img/desktop/elements.webp' type('image/webp'),
            '/img/desktop/elements@2x.webp' type('image/webp'));

    /*--описуємо медіа-правило для фонового зображення для HERO-mobile--*/

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2ppx) and (min-width: 1280px) {
        .hero-image-elements-wrapper {
            background-image: linear-gradient(rgba(253, 253, 255, 0), rgba(253, 253, 255, 0.3)), image-set('/img/desktop/elements.webp' type('image/webp'),
                    '/img/desktop/elements@2x.webp' type('image/webp'));
        }
    }
}