/* зважайте будь ласка на те щоб не дублювати назви класів */
:root {
  --color-text-medium: rgba(36, 36, 36, 0.8);
  --color-text-light: rgba(36, 36, 36, 0.5);
  --background-fav-btn-hover: #6e7fcf;
  --background-back-btn: rgba(36, 36, 36, 0.1);
  --background-back-btn-hover: rgba(36, 36, 36, 0.2);
  --modal-color-dark: #232330;
  --color-text-medium-dark: rgba(253, 253, 255, 0.8);
  --color-text-light-dark: rgba(253, 253, 255, 0.5);
  --background-back-btn-dark: rgba(253, 253, 255, 0.1);
  --background-back-btn-dark-hover: rgba(253, 253, 255, 0.2);
}

.ingredient-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 22px;
  height: 22px;
}

.ingredient-close-btn-icon {
  stroke: var(--black-color);
}

body.dark .ingredient-close-btn-icon {
  stroke: var(--light-gray-color);
}

@media screen and (min-width: 768px) {
  .ingredient-close-btn {
    top: 18px;
    right: 18px;
    width: 24px;
    height: 24px;
  }
}

.ingredient-modal {
  position: relative;
  width: 335px;
  height: 616px;
  border-radius: 20px;
  background-color: var(--pale-blue-color);
  padding: 20px;
}

body.dark .ingredient-modal {
  background-color: #232330;
}

@media screen and (min-width: 768px) {
  .ingredient-modal {
    width: 600px;
    height: 506px;
    background-color: var(--pale-blue-color);
    padding: 40px;
  }
}

.ingredient-modal-name {
  color: var(--color-text-bold);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 8px;
}

body.dark .ingredient-modal-name {
  color: var(--light-gray-color);
}

@media screen and (min-width: 768px) {
  .ingredient-modal-name {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 12px;
  }
}

.ingredient-modal-type {
  color: var(--color-text-light);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(36, 36, 36, 0.1);
  padding-bottom: 20px;
}

body.dark .ingredient-modal-type {
  color: var(--color-text-light-dark);
  border-bottom: 1px solid rgba(253, 253, 255, 0.1);
}

@media screen and (min-width: 768px) {
  .ingredient-modal-type {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 22px;
  }
}

.ingredient-modal-descr {
  color: var(--color-text-light);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

body.dark .ingredient-modal-descr {
  color: var(--color-text-light-dark);
}

@media screen and (min-width: 768px) {
  .ingredient-modal-descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 18px;
    margin-bottom: 40px;
  }
}

.modal-span {
  color: var(--black-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

body.dark .modal-span {
  color: var(--light-gray-color);
}

@media screen and (min-width: 768px) {
  .modal-span {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
}

.ingredient-modal-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  color: var(--color-text-medium);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  list-style: disc;
  margin-left: 26px;
  margin-bottom: 40px;
}

body.dark .ingredient-modal-list {
  color: var(--color-text-medium-dark);
}

@media screen and (min-width: 768px) {
  .ingredient-modal-list {
    display: inline-flex;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 40px;
  }
}

.ingredient-modal-btns {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

@media screen and (min-width: 768px) {
  .ingredient-modal-btns {
    display: flex;
    flex-direction: row;
    column-gap: 18px;
  }
}

.favorite-btn {
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  padding: 14px 84px;
  border-radius: 12px;
  background: var(--violet-color);
  color: var(--light-gray-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.3s ease;
}

@media screen and (min-width: 768px) {
  .favorite-btn {
    max-width: 251px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.36px;
  }
}

.favorite-btn:hover,
.favorite-btn:focus {
  background-color: var(--background-fav-btn-hover);
}

.back-btn {
  width: 100%;
  padding: 14px 84px;
  border-radius: 12px;
  background: rgba(36, 36, 36, 0.1);
  color: var(--color-text-bold);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.3s ease;
}

body.dark .back-btn {
  background-color: var(--background-back-btn-dark);
  color: var(--light-gray-color);
}

@media screen and (min-width: 768px) {
  .back-btn {
    width: 172px;
    padding: 16px 60px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.36px;
  }
}

.back-btn:hover,
.back-btn:focus {
  background-color: rgba(36, 36, 36, 0.2);
}

body.dark .back-btn:hover,
.back-btn:focus {
  background-color: var(--background-back-btn-dark-hover);
}
