/* зважайте будь ласка на те щоб не дублювати назви класів */

.main-section {
  padding: 0;
}

.container-cocktails {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;

  /* position: relative; */
}
.icon-heart {
  width: 18px;
  height: 18px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container-cocktails {
    max-width: 768px;
    padding: 0 32px;
  }
  .main-section {
    padding-bottom: 100px;
  }
  .icon-heart {
    width: 24px;
    height: 24px;
  }
}
/* Desktop */
@media only screen and (min-width: 1280px) {
  .container-cocktails {
    max-width: 1200px;
    padding-bottom: 72px;
  }
  .main-section {
    padding-bottom: 128px;
    /* padding-bottom: 200px; */
  }
}

.cocktails-header {
  height: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;

  text-align: left;
  letter-spacing: -0.03em;
  /* text-transform: uppercase; */

  color: var(--black-color);

  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .section-header-top-sallers {
    font-size: 24px;
    margin-bottom: 50px;
  }
}

.cocktails-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .cocktails-list {
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .cocktails-list {
    column-gap: 24px;
    row-gap: 44px;
  }
}

.cocktail-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 335px;
  height: 471px;

  border-radius: 20px;
  padding: 14px;

  /* align-content: space-between; */

  background-color: #f8f9ff;

  box-shadow: 0px 4px 46px 0px #0000000d;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.cocktail-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  .cocktail-card {
    width: 344px;
    height: 523px;
  }
}

@media only screen and (min-width: 1280px) {
  /* .top-sallers-item:last-child{
		display: block;
  } */
}

.cocktail-name {
  margin-left: 6px;
  margin-bottom: 20px;
}

.cocktail-image {
  width: 307px;
  height: 257px;
  object-fit: cover;

  border-radius: 16px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .cocktail-image {
    width: 316px;
    height: 289px;
  }
}

.cocktail-info {
  width: 295px;
  height: 54px;
  margin-left: 6px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;

  overflow: hidden;
  /* text-overflow: ellipsis; */

  /* background-color: var(--main-background-color); */

  color: var(--color-black);
}
@media only screen and (min-width: 768px) {
  .top-sallers-txt {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .top-sallers-txt {
    position: absolute;

    width: 407px;
    height: auto;
  }
}

.btns-info {
  /* margin-left: 6px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.learn-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* margin-right: 10px; */

  cursor: pointer;
  /* margin-bottom: 12px;   */

  min-width: 232px;
  min-height: 48px;
  /* padding: 12px 28px; */
  border-radius: 12px;
  border-color: #7e8fdd;
  border-width: 1px;

  background-color: white;

  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  text-transform: uppercase;

  /* transition-property: background-color, color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.learn-more-button:hover,
.learn-more-button:focus {
  background-color: #7e8fdd;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  .learn-more-button {
    min-width: 225px;
    min-height: 56px;
    /* padding: 16px 55px; */
  }
}

/* @media only screen and (min-width: 1280px) {
	.learn-more-button{
		/* position: absolute;

		width: 407px;
		height: auto; */
/* }
} */

.add-to-button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  min-width: 48px;
  min-height: 48px;
  border-radius: 12px;
  border-color: #7e8fdd;
  border-width: 1px;

  background-color: #7e8fdd;

  align-content: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.add-to-button:hover,
.add-to-button:focus {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  .add-to-button {
    min-width: 56px;
    min-height: 56px;
    /* padding: 16px 32px; */
  }
}

/* @media only screen and (min-width: 1280px) {
	.add-to-button{
		position: absolute;

		width: 407px;
		height: auto;
   }
} */

.icon-heart {
  fill: none;
  stroke: white;
}
