/* зважайте будь ласка на те щоб не дублювати назви класів */
.main-section {
  padding-bottom: 80px;
}

.container-cocktails {
  /* min-width: 320px;
  max-width: 375px; */
  padding: 0 20px;
  margin: 0 auto;
  /* position: relative; */
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container-cocktails {
    /* max-width: 768px; */
    padding: 0 32px;
  }
  .main-section {
    padding-bottom: 100px;
  }
  .icon-heart {
    width: 24px;
    height: 24px;
  }
}
/* Desktop */
@media only screen and (min-width: 1280px) {
  .container-cocktails {
      /* max-width: 768px; */
      padding: 0 100px;
    }
  .main-section {
    padding-bottom: 100px;
  }
}

.cocktails-header {
  height: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67;

  text-align: left;
  letter-spacing: -0.03em;
  /* text-transform: uppercase; */

  color: var(--black-color);

  margin-bottom: 40px;
}
body.dark .cocktails-header{
  color: var(--light-gray-color);
}

@media only screen and (min-width: 768px) {
  .cocktails-header {
    font-size: 40px;
    line-height: 1.2;  }
}

.cocktails-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .cocktails-list {
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .cocktails-list {
    column-gap: 24px;
    row-gap: 44px;
  }
}

.cocktail-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 335px;
  height: 471px;

  border-radius: 20px;
  padding: 14px 14px 20px 14px;

  background-color: var(--light-gray-color);

  box-shadow: 0px 4px 46px 0px #0000000d;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.cocktail-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
body.dark .cocktail-card{
    background-color: #232330;
}

@media only screen and (min-width: 768px) {
  .cocktail-card {
    width: 344px;
    height: 523px;
  }
}

.cocktail-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;

  margin-left: 6px;
  margin-bottom: 14px;
}
body.dark .cocktail-name {
  color: var(--light-gray-color);
}
@media only screen and (min-width: 768px) {
  .cocktail-name {
      font-size: 20px;
      line-height: 1.33;
    
      margin-left: 10px;
      margin-bottom: 14px;
  }
}
/* @media only screen and (min-width: 1280px) {
   
} */

.cocktail-image {
  width: 307px;
  height: 257px;
  object-fit: cover;

  border-radius: 16px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .cocktail-image {
    width: 316px;
    height: 289px;
    margin-bottom: 24px;
  }
}

.cocktail-info {
  width: 295px;
  height: 54px;
  margin: 0 6px 20px 6px;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  /* letter-spacing: -0.02em; */

  overflow: hidden;
  /* text-overflow: ellipsis; */

  color: var(--color-black);
}
body.dark .cocktail-info {
  color: var(--light-gray-color);
}
@media only screen and (min-width: 768px) {
  .cocktail-info {
    width: 296px;
    height: 54px;
    margin: 0 10px 24px 10px;
  }
}

.btns-info {
  /* margin-left: 6px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
@media only screen and (min-width: 768px) {
  .btns-info {
    gap: 15px;
  }
}

.learn-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;

  min-width: 232px;
  min-height: 48px;
  border-radius: 12px;

  border: 1px solid #7E8FDD;

  /* border-color: var(--violet-color);
  border-width: 1px; */

  background-color: inherit;

  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.learn-more-button:hover,
.learn-more-button:focus {
  background-color: var(--violet-color);
  color: var(--light-gray-color);

  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
body.dark .learn-more-button {
  color: var(--light-gray-color);
}

@media only screen and (min-width: 768px) {
  .learn-more-button {
    min-width: 225px;
    min-height: 56px;

    font-size: 18px;
    line-height: 1.33;
  }
}

.add-to-button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  min-width: 48px;
  min-height: 48px;
  border-radius: 12px;
  
  border: 1px solid #7E8FDD;
  /* border-color: var(--violet-color);
  border-width: 1px; */

  background-color: var(--violet-color);

  align-content: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.add-to-button:hover,
.add-to-button:focus {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  .add-to-button {
    min-width: 56px;
    min-height: 56px;
  }
}
/* @media only screen and (min-width: 1280px) {
	.add-to-button{
		position: absolute;

		width: 407px;
		height: auto;
   }
} */

.icon-heart {
  fill: var(--violet-color);
  stroke: var(--light-gray-color);
  
  width: 18px;
  height: 18px;
}
.icon-heart-addtofavorite {
  fill: var(--light-gray-color);
}