.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

#tui-pagination-container {
  margin-bottom: 80px;
}

#tui-pagination-container .tui-first,
#tui-pagination-container .tui-last {
  display: none;
}

#tui-pagination-container .tui-page-btn {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #7e8fdd;
  margin-right: 8px;

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}
#tui-pagination-container .tui-is-selected {
  background: #9cdfdf;
  border-color: #9cdfdf;
}
#tui-pagination-container .tui-page-btn:nth-last-child(3) {
  margin-right: 0;
}

#tui-pagination-container .tui-page-btn:nth-child(2) {
  margin-right: 39px;
}

#tui-pagination-container .tui-page-btn:nth-last-child(2) {
  margin-left: 39px;
  margin-right: 0;
}

#tui-pagination-container .tui-prev-is-ellip {
  display: none;
}

.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next {
  margin-top: 0;
}

#tui-pagination-container .tui-pagination {
  margin-bottom: 80px;
}

#tui-pagination-container .tui-number-item {
  padding-top: 6px;
}

#tui-pagination-container .tui-next-is-ellip {
  padding-top: 0;
}

@media screen and (max-width: 376px) {
  #tui-pagination-container .tui-page-btn:nth-child(2) {
    margin-right: 8px;
  }

  #tui-pagination-container .tui-page-btn:nth-last-child(2) {
    margin-left: 8px;
  }
}

/*  */

@media screen and (min-width: 768px) {
  #tui-pagination-container {
    margin-bottom: 100px;
  }
  #tui-pagination-container .tui-page-btn {
    width: 40px;
    height: 40px;
    margin-right: 14px;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
  }

  .tui-pagination .tui-ico-prev,
  .tui-pagination .tui-ico-next {
    margin-top: 8px;
  }

  #tui-pagination-container .tui-number-item {
    padding-top: 10px;
  }

  #tui-pagination-container .tui-next-is-ellip {
    padding-top: 5px;
  }
}
