a {
    text-decoration: none;
  }

.prev-btn{
    
}

.pagin-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    /* background-color: aqua; */
}

.page-btn{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #7E8FDD;
    text-align: center;
    color: #7E8FDD;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    


}

.selected-item{
    background-color: #9CDFDF;
}

.pages{
    display: flex;
    gap: 8px;
}

.prev-btn{
    /* pointer-events: none;  */

}

.next-btn{
    

}