:root {
  --violet-color: #7e8fdd;
  --turquoise-color: #9cdfdf;
  --black-color: #242424;
  --pale-blue-color: #f8f9ff;
  --light-gray-color: #fdfdff;

  --transition-dur-and-time-func: 500ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
