/* зважайте будь ласка на те щоб не дублювати назви класів */
.search-one {
  text-align: center;
  padding-top: 40px;
}
.form-mobile {
  position: relative;
}
.search-select {
  display: inline-flex;
  width: 90px;
  height: 34px;
  justify-content: center;
  align-items: center;
  padding-left: 14px;
  gap: 33px;
  border: 2px solid rgba(126, 143, 221, 0.4);
  border-radius: 8px;
  color: #ffffff;
  background: rgba(126, 143, 221, 0.4);
  cursor: pointer;
transition: var(--transition-dur-and-time-func);
}
.search-select:focus,
.search-select:hover {
  background: #9cdfdf;
}
.search-icon-down {
  content: '';
  position: absolute;
  top: 50%;
  right: 14px;
}

.search-select-one {
  color: #fdfdff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.search-menu {
  max-width: 904px;
  display: none;
  flex-wrap: wrap;
  gap: 16px 8px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.search-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #fff;
  background: rgba(126, 143, 221, 0.4);
  color: #fdfdff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
transition: var(--transition-dur-and-time-func);
}
.search-menu-item:hover,
.search-menu-item:focus {
  background: #9cdfdf;
}

body.dark .search-menu-item {
    background: rgba(126, 143, 221, 0.40);
    border: 1px solid rgba(126, 143, 221, 0.40);
}
body.dark .search-menu-item:hover,
.search-menu-item:focus {
  background: #9cdfdf;
}

.search-tree {
  position: relative;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.search-input {

  width: 100%;
  height: 44px;
  border-radius: 80px;
  border: 2px solid #7e8fdd;
  padding-left: 42px;
  color: black;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--transition-dur-and-time-func);
}

body.dark .search-input {
    color: #fdfdff;
    background: var(--black-color);
}


.search-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 14px;
  fill: #242424;
  transform: translateY(-50%);
}
body.dark .search-icon {
    fill: #FDFDFF;
}


@media screen and (min-width: 768px) {
  .search-one {
    display: none;
  }

  .search-menu {
    display: flex;
  }

  .search-menu-item:hover,
  .search-menu-item:focus {
    background: #9cdfdf;
  }
  .mobile-alphabet-button {
    display: none;
  }

  .search-tree {
    padding-top: 50px;
    padding-bottom: 50px;
  }
.search-input {
    max-width: 300px;
}
  .search-icon {
    left: 220px;
  }
}

@media screen and (min-width: 1280px) {
  .search-menu {
    display: flex;
  }

  .search-menu-item:hover,
  .search-menu-item:focus {
    background: #9cdfdf;
  }
  .mobile-alphabet-button {
    display: none;
  }

  .search-tree {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .search-icon {
    left: 405px;
  }
}
