/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./root.css');
@import url('./fonts.css');
@import url('./reset.css');
@import url('./container.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./main-section.css');
@import url('./pagination.css');
@import url('./modals.css');
@import url('./coctail-modal.css');
@import url('./ingredient-modal.css');

@import url('./favorite-coctails-main.css');
@import url('./favorite-ingredients-main.css');

@import url('./footer.css');
